{% extends 'base.html' %}
{% block content %}
<h1 class="container">
    Posts
</h1>
    {% for p in post %}
    <div class="container bg-info">
        <small class="text-right"><img class="rounded-circle pr-2 pt-2" width="50px" src="{{ url_for('static', filename='mypicture.jpg')}}">By {{p.author.username}}</small>
        <h3><a href="{{ url_for('detail_view', user_id=p.id)}}">{{ p.post_title}}</a></h3>
        {% if p.post_image%}
        <div>
            <img class="container" width="3%"  src="/static/post_image/{{p.post_image}}">
        </div>
        {% endif %}
        <hr color="black">
    <p class="container lead">
        {{ p.post_content }}
    </p>
     </div>
    {% endfor %}
{% endblock %}