{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8 center">
        <h1 class="container">
            Posts by {{user.username}} {{posts.total}}
        </h1>
    {% for p in posts.items %}
    <div class="container bg-info">
        <small class="text-right"><img class="rounded-circle pr-2 pt-2" width="50px" src="{{ url_for('static', filename='mypicture.jpg')}}">By {{p.author.username}}</small>
        <h3><a href="{{ url_for('detail_view', user_id=p.id)}}">{{ p.post_title}}</a></h3>
        {% if p.post_image%}
        <div>
            <img class="container" src="/static/post_image/{{p.post_image}}">
        </div>
        {% endif %}
        <hr color="black">
    <p class="container lead">
        {{ p.post_content }}
    </p>
     </div>
    {% endfor %}
    </div>
</div>
<div class="container">
{% for page_num in posts.iter_pages() %}
        {% if page_num %}
            <a class="btn btn-info m-2" href="{{url_for('home', page=page_num)}}">
                {{ page_num }}
            </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
